@use "@/app/scss/variables" as *;

#logout {
    @include full-width;
    display: flex;
    justify-content: flex-end;

    button {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: rem(5);
        
    }
}