@use "@/app/scss/variables" as *;

#logout {
  @include full-width;
  display: flex;
  justify-content: flex-end;

  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: rem(5);
  }
}

#home {
  @include full-width;
  height: calc(100vh - rem(80));
  height: calc(100svh - rem(80));
  display: flex;
  flex-direction: column;
  gap: rem(10);
  padding-block: rem(10);

  .box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $pink;
    font-weight: bold;
  }

  .img-container {
    touch-action: none;
    width: 100%;
    height: 50%;
    border-radius: rem(10);
    overflow: hidden;

    .image {
      background-color: black;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 32%;
        height: auto;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    grid-area: rem(10);

    .user {
      display: flex;
      justify-content: space-between;
    }

    .numbers {
      display: flex;
      justify-content: space-between;
    }
  }

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: rem(10);
    margin-top: auto;

    .change {
      width: 100%;
      display: flex;
      gap: rem(10);
    }

    button {
      background-color: $offDark;
      color: $offLight;
      border-radius: rem(10);
      padding-block: rem(15);
      width: 100%;
    }

    .settings {
      display: flex;
      flex-direction: column;
      gap: rem(20);
      border: rem(1) solid $offDark;
      border-radius: rem(10);
      padding: rem(10);

      .scale-buttons {
        display: flex;
        gap: rem(10);
        .lock-settings {
          background-color: $red;
          padding-block: rem(10);

          &:disabled {
            background-color: gray;
          }
        }

        .set-scale {
          width: 40%;
          background-color: $darkBlue;
          &:disabled {
            background-color: gray;
          }
        }
        .green {
          background-color: $green;
        }
      }

      .settings-btn {
        display: flex;
        justify-content: space-between;
        gap: rem(10);
        font-size: rem(14);

        .left {
          display: flex;
          gap: rem(5);
        }

        .column {
          display: flex;
          gap: rem(5);
        }

        .scale-locked {
          width: 7ch;
          overflow: hidden;
          white-space: nowrap;
        }

        button {
          width: rem(30);
          height: rem(20);
          padding: rem(2);
          $size: rem(14);
          border-radius: rem(100);
          position: relative;
          display: flex;
          align-items: center;
          background-color: $red;

          .dot {
            width: $size;
            height: $size;
            background-color: $offLight;
            border-radius: 100%;
            position: absolute;
            left: rem(2);
          }

          .active {
            left: rem(13);
          }
        }

        .green {
          background-color: $green;
        }

        select {
          background-color: none;
          padding: rem(2) rem(10);
        }

        .priority {
          display: flex;
          flex-direction: column;
          gap: rem(5);
        }

        .priority-set {
          padding: rem(5);
          width: rem(50);
          height: rem(25);
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $darkBlue;

          &:disabled {
            background-color: gray;
          }
        }
      }
    }
  }
}
