@use "@/app/scss/variables" as *;

#addStudentsModel,
#addMultipleStudents {
  @include full-width;
  position: fixed;
  background-color: #0000003f;
  inset: 0;
  height: 100vh;
  height: 100svh;

  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    width: 100%;
    max-height: 80svh;
    background-color: $offLight;
    padding: rem(20);
    border-radius: rem(10);
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: rem(20);

    .title {
      display: flex;
      justify-content: space-between;
      position: sticky;
      top: 0;
      background-color: $offLight;
      padding: rem(10);
      border-radius: rem(10);

      button {
        padding: rem(5) rem(10);
        background-color: $pink;
        border-radius: rem(10);
        cursor: pointer;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: rem(10);

      .student {
        display: flex;
        gap: rem(10);
        align-items: center;
        input {
          width: 50%;
        }
      }

      textarea {
        background: none;
        outline: none;
        border: rem(1) solid $dark;
        border-radius: rem(10);
        padding: rem(10);
        resize: none;
        &:nth-of-type(1) {
          width: 60%;
        }
      }

      button {
        background-color: $dark;
        padding: rem(10) rem(10);
        border-radius: rem(10);
        color: $light;
        cursor: pointer;

        &[type="button"] {
          width: fit-content;
          background-color: $green;
          padding: rem(5) rem(10);
          border-radius: rem(10);
          color: $dark;
        }

        &[type="submit"] {
          position: sticky;
          bottom: 0;
        }
      }

      .buttons {
        display: flex;
        justify-content: space-between;

        button:disabled,
        button[disabled] {
          background-color: gray;
          cursor: not-allowed;
        }

        .remove {
          background-color: $red;
        }
      }
    }
  }
}
